{% static %}
{% load static %}
{% extends 'base.html' %}

{% block title %}Edit Comment{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">Edit Comment</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.text }}
                    <button class="btn btn-primary mt-3" type="submit">Save</button>
                    <a class="btn btn-secondary mt-3" href="{% url 'profile_view' comment.photo.owner.username %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}